<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="day0912.mybatis.mapper.BlogListMapper">
    <sql id="select-column"> id, use_id as userId, title, cover, publish_time as publishTime, last_update_time as lastUpdateTime, content, view, description, status </sql>

    <resultMap id="BlogListMap" type="BlogList">
        <result column="use_id" property="userId"/>
        <result column="publish_time" property="publishTime"/>
        <result column="last_update_time" property="lastUpdateTime"/>
    </resultMap>

    <select id="selectAll" resultMap="BlogListMap">
        select * from blog_list;
    </select>
    <select id="selectById" resultMap="BlogListMap">
        select * from blog_list where id = #{id};
    </select>
</mapper>