<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="day0904.mybatis.mapper.UserMapper">

    <select id="getUserByEmail" resultType="User">
        select concat('u',id) as id, email, password, role from user where email = #{email}
    </select>

    <select id="getUserById" resultType="User">
        select concat('u',id) as id, email, password, role from user where id = #{id}
    </select>

    <select id="getAllUser" resultType="User">
        select concat('u',id) as id, email, password, role from user
    </select>

    <select id="getUserCount" resultType="int">
        select count(*) from user
    </select>

    <select id="getAPageUser" resultType="User">
        select concat('u', id), email, password, role
        from user
        limit #{page}, 10
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
        insert into user (email, password, role)
        values (#{email}, #{password}, '用户')
    </insert>

    <insert id="addUserLog" useGeneratedKeys="true" keyProperty="id">
        insert into `user-log`(`user-id`, time, behavior)
        values(#{userId}, #{time}, #{behavior})
    </insert>

    <update id="updateUser">
        update user set
        email = #{arg1},
        password = #{arg2}
        where id = #{arg0}
    </update>

    <delete id="deleteUser">
        delete from user where id = #{id}
    </delete>
</mapper>