.single-post {
    margin-bottom: 2rem;

    h1 {
        font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
        font-size: $h2-font-size; //2rem = 32px
    }

    .meta {
        font-size: $font-size-sm;
    }

    @import "vditor-reset";

    .toc {
        padding-top: 1rem;

        font-size: $font-size-sm; //0.875rem = 14px

        .toc-list-item {
            @include text-truncate();
        }

        .is-active-link {
            color: $primary;
            font-weight: 400;
        }
        .is-active-link::before {
            background-color: $primary;
        }

        a {
            &:hover {
                color: darken($primary, 15%);
            }
        }
    }
}
