// Typography
$font-family-sans-serif: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",SimSun, sans-serif;
$font-size-base: 1rem;

// Colors
$primary: #DE3712 !default;

// #DE3712 对比度 4.51:1
// #A5290D Contrast Ratio 7.18:1

// Links
$link-color: #212529;
$link-hover-color: $primary;
$link-hover-decoration: none !default;

.text-decoration-underline {
  text-decoration: underline;
}

// Navbar
$navbar-light-color: $link-color;
$navbar-light-hover-color: darken($primary, 15%);
$navbar-light-active-color: $primary;

// Breadcrumbs
$breadcrumb-padding-x:              0 !default;
$breadcrumb-margin-bottom:          0 !default;
$breadcrumb-bg:                     #fff !default;
$breadcrumb-divider:                quote(">") !default;

// Dropdown menu
$zindex-dropdown: 1021;
